body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    margin: 10px 0px;
}

ul {
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.Container {
    max-width: 300px;
    max-height: 500px;
    display: flex;
}

.Card {
    margin: 10px 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}